<div class="t_d">
  <input [disabled]="disabled" #v5 (change)="onChange($event, 5)" type="radio" name="group_{{group}}" class="t_l" value="5"/>
  <input [disabled]="disabled" #v4 (change)="onChange($event, 4)" type="radio" name="group_{{group}}" class="t_l" value="4"/>
  <input [disabled]="disabled" #v3 (change)="onChange($event, 3)" type="radio" name="group_{{group}}" class="t_l" value="3"/>
  <input [disabled]="disabled" #v2 (change)="onChange($event, 2)" type="radio" name="group_{{group}}" class="t_l" value="2"/>
  <input [disabled]="disabled" #v1 (change)="onChange($event, 1)" type="radio" name="group_{{group}}" class="t_l" value="1"/>
</div>
