
<div class="form-group">
  <label>Sign in or Sign up:</label>
  <div class="form-inline">
    <select #selectUser class="custom-select col-sm-3">
      <option *ngFor="let user of userService.users">
        {{user.login}}
        <!--user-browse [user]="user"></user-browse-->
      </option>
    </select >
    <span class=" col-sm-1 ">&nbsp;/&nbsp;</span>
    <input #enterUser class="form-control col-sm-8 " type="text" placeholder="Enter login" />
  </div>
</div>
<div class="form-group">
  <label>Password:</label>
  <input #enterPassword class="form-control" type="password" placeholder="Enter password"/>
</div>
<div class="form-group">
  <input  class="form-control btn-success" type="button"
  (click)="login()" value="Login"/>
</div>
