<div class="t_d">
  <input #v5 (change)="onChange($event, 5)" type="radio" name="group_{{t}}" class="t_l" value="5"/>
  <input #v4 (change)="onChange($event, 4)" type="radio" name="group_{{t}}" class="t_l" value="4"/>
  <input #v3 (change)="onChange($event, 3)" type="radio" name="group_{{t}}" class="t_l" value="3"/>
  <input #v2 (change)="onChange($event, 2)" type="radio" name="group_{{t}}" class="t_l" value="2"/>
  <input #v1 (change)="onChange($event, 1)" type="radio" name="group_{{t}}" class="t_l" value="1"/>
</div>
