
<!-- pager -->
<ul *ngIf="pages && pages.length" class="pagination">
  <li [ngClass]="{disabled:currentPage === 1}" class="page-item">
    <a class="page-link" (click)="setPage(1)">First</a>
  </li>
  <li [ngClass]="{disabled:currentPage === 1}" class="page-item">
    <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pages" [ngClass]="{active:currentPage === page}" class="page-item">
    <a class="page-link" (click)="setPage(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:currentPage === totalPages}" class="page-item">
    <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
  </li>
  <li [ngClass]="{disabled:currentPage === totalPages}" class="page-item">
    <a class="page-link" (click)="setPage(totalPages)">Last</a>
  </li>
</ul>


<table class="table">
  <tr *ngFor="let hotel of items">
    <td *ngIf="is(userService.currentUser) && userService.currentUser.type == userType.ADMIN">{{hotel.id}}</td>
    <td>{{hotel.name}}</td>
    <td><rating [disabled]="true" [group]="hotel.id" [(ngModel)]="hotel.stars"></rating></td>
    <td><input
      *ngIf="is(userService.currentUser) && userService.currentUser.type == userType.ADMIN"
      type="button" class="btn btn-success" value="Edit"
          (click)="popup(hotel)">
    </td>
    <td><input
      *ngIf="is(userService.currentUser) && userService.currentUser.type == userType.ADMIN"
      type="button" class="btn btn-danger" value="Delete" (click)="deleteHotel(hotel)">
    </td>
  </tr>
</table>


<hotel-edit id="hotel-popup" class="modal" tabindex="-1"
            [hotel]="currentHotel"
            role="dialog"></hotel-edit>




