<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <span class="nav-item dropdown">
    <span *ngIf="userService.currentUser" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{userService.currentUser.login}}
    </span>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" (click)="logout($event); false">Logout</a>
    </div>
  </span>

  <input *ngIf="is(userService.currentUser) && userService.currentUser.type == userType.ADMIN"
         type="button" class="btn btn-primary nav-item" value="Add Hotel"
         routerLink="/hotels/create"
  />
</nav>

<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <router-outlet></router-outlet>
  <!--hotel-list></hotel-list-->
</div>

